In [1]:
import pandas as pd

In [2]:
data=pd.DataFrame(columns=['id','lat_from','lat_to','lon_from','lon_to'])

In [3]:
start_lat_grid = 40.70
end_lat_grid = 40.85
start_lon_grid = -74.73
end_lon_grid = -74.02
inc_lat = 0.0012
inc_lon = 0.0042
id = []
lat_from = []
lat_to = []
lon_from = []
lon_to = []

a,b = start_lat_grid,start_lon_grid
x,y = 0,0
while a < end_lat_grid:
    x += 1
    y = 0
    while b < end_lon_grid:
        y += 1
        lat_from.append(a)
        lon_from.append(b)
        lat_to.append(a + inc_lat - 0.0001)
        lon_to.append(b + inc_lon - 0.0001)
        b += inc_lon
        id.append('A'+ str(x) +'B'+ str(y))
    b = start_lon_grid  
    a += inc_lat

data['id'] = id
data['lat_from'] = lat_from
data['lat_to'] = lat_to
data['lon_from'] = lon_from
data['lon_to'] = lon_to

In [4]:
data.head(10)

      id  lat_from   lat_to  lon_from   lon_to
0   A1B1      40.7  40.7011  -74.7300 -74.7259
1   A1B2      40.7  40.7011  -74.7258 -74.7217
2   A1B3      40.7  40.7011  -74.7216 -74.7175
3   A1B4      40.7  40.7011  -74.7174 -74.7133
4   A1B5      40.7  40.7011  -74.7132 -74.7091
5   A1B6      40.7  40.7011  -74.7090 -74.7049
6   A1B7      40.7  40.7011  -74.7048 -74.7007
7   A1B8      40.7  40.7011  -74.7006 -74.6965
8   A1B9      40.7  40.7011  -74.6964 -74.6923
9  A1B10      40.7  40.7011  -74.6922 -74.6881

In [5]:
data.to_csv('./data/ref_grid.csv')

In [6]:
from functions import generate_grid_dataframe

In [9]:
data2 = generate_grid_dataframe(40.7, 40.85, -74.73, -74.02, 0.0012, 0.0042, 0.0001)

In [13]:
data2.head(10)

Empty DataFrame
Columns: [id, x_from, x_to, y_from, y_to]
Index: []